body {
  font-family: Georgia, serif;
  background-color: var(--color-fondo);
  color: var(--color-texto);
}


header {
  position: fixed;          
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 4rem;
  background-color: rgba(253, 246, 233, 0.92);
  border-bottom: 1px solid var(--color-dorado);
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-primario);
}

nav a {
  text-decoration: none;
  color: var(--color-primario);
  margin-left: 2rem;
  font-size: 0.95rem;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

nav a:hover {
  color: var(--color-secundario);
}


#inicio {
  min-height: 100vh;        
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8rem 2rem 5rem;
  background-color: var(--color-fondo);
}

#inicio span {
  font-size: 0.85rem;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: var(--color-secundario);
  border: 1px solid var(--color-dorado);
  padding: 0.35rem 1.2rem;
  border-radius: 999px;
  margin-bottom: 1.5rem;
}

#inicio h1 {
  font-size: 5rem;
  font-weight: 900;
  color: var(--color-primario);
  line-height: 1;
  margin-bottom: 1rem;
}

#inicio p {
  font-size: 1.1rem;
  color: var(--color-texto-suave);
  max-width: 500px;
  line-height: 1.75;
  margin-bottom: 1.5rem;
}

#inicio small {
  font-size: 0.95rem;
  color: var(--color-secundario);
  letter-spacing: 0.15em;
}


.franja {
  background-color: var(--color-primario);
  color: var(--color-fondo);
  text-align: center;
  padding: 1.5rem 2rem;
  font-size: 1rem;
  letter-spacing: 0.1em;
}

.franja strong {
  color: var(--color-dorado);
  font-size: 1.2rem;
}

#nosotros {
  display: grid;
  grid-template-columns: 1fr 1fr;  
  gap: 4rem;
  align-items: center;
  padding: 7rem 5rem;
  background-color: var(--color-blanco);
}

.imagen-lado {
  position: relative;
}

.imagen-lado img {
  width: 100%;
  height: 500px;
  object-fit: cover;        
  border-radius: 4px;
  display: block;
}

.año {
  position: absolute;
  bottom: -1.5rem;
  right: -1.5rem;
  background-color: var(--color-dorado);
  color: var(--color-primario);
  padding: 1rem 1.5rem;
  text-align: center;
  border-radius: 4px;
  font-weight: bold;
}